<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LegoProxy Dashboard</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body style="background-color: #333;">
	<div class="dashboard">
	 	<div class="configuration">
	 	 	<h1 style="color: white; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Proxy Configuration</h1>
	 	 	<form action="/saveconf" method="post">
	 	 	 	<div class="form-row">
	 	 	 	  <input type="number" id="placeId" name="placeId" placeholder="Roblox Place ID">
	 	 	 	</div>
	 	 	 	<div class="form-row">
	 	 	 	  	<input type="number" id="maxRequests" name="maxRequests" placeholder="Max Proxy Requests">
	 	 	 	</div>
	 	 	 	<div class="form-row">
	 	 	 	  	<input type="text" id="proxyAuthKey" name="proxyAuthKey" placeholder="Proxy Authentication Key">
	 	 	 	</div>
			<div class="form-row">
				<input type="text" id="username" name="username" placeholder="LegoProxy Username">
				<input type="password" id="password" name="password" placeholder="LegoProxy Password">
			</div>
	 	 	 	<div class="form-row">
	 	 	 	  	<input type="submit" value="Save Changes">
	 	 	 	</div>
	 	 	</form>
	 	</div>
	 	<div class="logs">
	 	  	<h1 style="color: white; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Request Logs</h1>
	 	  	<div id="logs-box">
				<textarea id="logs" readonly style="resize: none; width: 500px; height: 250px; white-space: pre-line;"></textarea>
	 	  	</div>
	  	</div>
	</div>
	<script>
		let latestLogs = "";
		const logsTextarea = document.getElementById('logs');
		
		setInterval(() => {
			fetch('/logs')
			 	.then(response => response.text())
			 	.then(logs => {
			 	 	if (logs !== latestLogs) {
			 	 		latestLogs = logs;

						if (logs !== ""){
							logsTextarea.innerHTML += logs + "\n";
						}
					
			 	 		const isScrollingUp = logsTextarea.scrollTop < logsTextarea.scrollHeight - logsTextarea.clientHeight;
					
			 	 		if (isScrollingUp) {
			 	 		  logsTextarea.scrollTop = logsTextarea.scrollHeight;
			 	 		}
			 	 	}
			 	});
		}, 1000);
	</script>
</body>
</html>
